APP_NAME=KoreSearch
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://koresearch.onrender.com

LOG_CHANNEL=stack
LOG_LEVEL=warning

# TiDB Cloud Serverless
DB_CONNECTION=mysql
DB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
DB_PORT=4000
DB_DATABASE=test
DB_USERNAME=eKUPCjm1vkkRUy3.root
DB_PASSWORD=yi4KndCR6d1u3k2x

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=

FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="noreply@koresearch.com"
MAIL_FROM_NAME="${APP_NAME}"

MYSQL_ATTR_SSL_VERIFY_SERVER_CERT=true
