/vendor/
/node_modules/
/.idea/
/.vscode/
/.env
/.env.*.local
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/debugbar/*
/storage/certs/*
!/storage/framework/cache/data/.gitkeep
!/storage/framework/sessions/.gitkeep
!/storage/framework/views/.gitkeep
!/storage/logs/.gitkeep
!/storage/app/public/.gitkeep
.DS_Store
Thumbs.db
*.swp
*.swo
docker-compose.override.yml
